/* Simple Properites */
p {
  font-size: 13px;
  font-family: proxima-soft;
  font-weight: 600;
  text-align: justify;
  color: #969898;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* Index Specific */
.int-link {
  position: absolute;
  top: 5%;
  left: 8%;
  text-align: left;
  font-size: 40px;
  font-family: IvyMode;
  color: #FFFFFF;
  transition-duration: .50s;
}

.int-link:hover {
  opacity: 0.3;
  transition-duration: .50s;
}

ul {
  font-family: IvyMode;
  list-style: none;
  color: #969898;
}


/* Archive Specific*/
#archive-overflow {
  position: absolute;
  top: 45px;
  left: 410px;
  width: 600px;
  height: 610px;
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  width: 600px;
  height: 1500px;
}

td {
  text-align: center;
  width: 210px;
  height: 110px;
  font-size: 30px;
  font-family: IvyMode;
  color: #969898;
}

td img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

td img:hover {
  filter: grayscale(0%);
  transition-duration: 0.5s;
}

/*Personal Page Specific*/

/* Processes Page Specific */
#process-overflow {
  position: absolute;
  top: 45px;
  left: 410px;
  width: 740px;
  height: 610px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#process-overflow, h1 {
  font-size: 45px;
  font-family: IvyMode;
  color: #969898;
}

#process-text {
  position: absolute;
  top: 35px;
  width: 700px;
  height: 1000px;
}

/* All Pages: Magazine Setup (Structures, Organics)*/

/* 1/3 */
.julia {
  position: absolute;
  top: 45px;
  left: 75px;
  width: 210px;
  height: 110px;
  font-size: 80px;
  font-family: IvyMode;
  font-weight: 400;
  color: #969898;
}

.ext-link {
  position: absolute;
  top: 565px;
  left: 75px;
  width: 210px;
  height: 100px;
  text-align: right;
  font-family: IvyMode;
  transition-duration: 0.5s;
}

.ext-link a:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

#icon {
  position: absolute;
  top: 525px;
  left: 235px;
}

#icon img {
  width: 50px;
  height: 50px;
  filter: grayscale(100);
  transition: 0.5s;
}

#icon img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

#icon img:visited {
  filter: grayscale(0.5);
}

/* 2/3 */
.pic1 {
  position: absolute;
  top: 45px;
  left: 410px;
  width: 400px;
  height: 600px;
  opacity: 0.9;
  transition-duration: 0.5s;
}

.img-1 {
  object-fit: cover;
  width: 400px;
  height: 600px;
}

/* 3/3 */
.pic2 {
  position: absolute;
  top: 45px;
  left: 850px;
  width: 300px;
  height: 400px;
  opacity: 0.9;
  transition-duration: 0.5s;
}

.img-2 {
  object-fit: cover;
  width: 300px;
  height: 400px;
}

.blerb {
  position: absolute;
  top: 455px;
  left: 850px;
  width: 300px;
  height: 180px;
}

.title {
  position: relative;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: IvyMode;
  color: #969898;
}

.post {
  position: relative;
  top: 0px;
  left: 10px;
  width: 280px;
  height: 90px;
}

.nav {
    position: absolute;
    width: 40px;
    height: 22px;
    text-align: center;
    font-size: 15px;
    font-family: IvyMode;
    color: #969898;
    border-style: solid;
    border-width: 0.5px;
    border-color: #969898;
    transition-duration: 0.50s;
}

.nav:hover {
  background-color: #969898;
  color: #FFFFFF;
  opacity: 0.8;
  transition-duration: 0.50s;
}

#next {
  top: 45px;
  right: 310px;
}

#prev {
  top: 85px;
  right: 310px;
}

#albums {
  top: 45px;
  left: 1185px;
  width: 55px;
}

#albums a {
  font-size: 0px;
}

#albums:hover {
  width: 170px;
  height: 250px;
  font-size: 30px;
  padding-top: 1%;
}

#albums:hover a {
  font-size: 15px;
  color: #FFFFFF;
  transition-duration: .50s;
}

#albums a:hover {
  opacity: 0.3;
  transition-duration: .50s;
}

/* All Pages Gallery Setup */
.picA {
  position: absolute;
  top: 45px;
  left: 410px;
  width: 740px;
  height: 500px;
  background-color: black;
}

.imgA {
  object-fit: cover;
  width: 740px;
  height: 500px;
}

.titleA {
  position: absolute;
  top: 565px;
  left: 410px;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: IvyMode;
  color: #969898;
}

.postA {
  position: absolute;
  top: 565px;
  left: 600px;
  width: 545px;
  height: 50px;
}
